@import "tailwindcss";

@font-face {
  font-family: Inter, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-background: var(--color-stone-100);
  --color-background-accent: var(--color-stone-200);
  --color-foreground: var(--color-stone-800);
  --color-foreground-accent: var(--color-stone-950);
  --color-primary: var(--color-lime-400);
  --color-primary-accent: var(--color-lime-500);
}

@layer base {
  html {
    @apply font-inter bg-background text-foreground min-h-screen antialiased;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #000;
  }
}
