@import "tailwindcss";

@font-face {
  font-family: Inter, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-background: var(--color-stone-100);
  --color-background-accent: var(--color-stone-200);
  --color-foreground: var(--color-stone-800);
  --color-foreground-accent: var(--color-stone-950);
  --color-primary: var(--color-lime-400);
  --color-primary-accent: var(--color-lime-500);
}

@layer base {
  html {
    @apply font-inter bg-background text-foreground min-h-screen antialiased;
  }
}
